html, body {
    height: 100%;
}

body {
    font-size: 10vw;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.running {
    background: lightgreen;
}

main {
    width:75%;
}

main section {
    display: flex;
    justify-content: center;
}

button {
    font-size:0.5em;
    padding:1em;
    margin:0.1em;
    border-radius: 0.5em;
    color:white;
    width:30%;
    box-sizing: border-box;
}

button:not(:disabled){
    cursor: pointer;
}

code {
    margin: 0;
    display: block;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
}

small {
    font-size: 0.2em;
    text-align: center;
    display: block;
}

#start {
    background: blue;
}

#start:disabled {
    background: lightblue;
}

#stop {
    background: grey;
}

#stop:disabled {
    background: darkgrey;
}

#reset {
    background: red;
}
#reset:disabled {
    background: lightpink;
}
